@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Nunito", sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
}

body.light {
    background: url('../public/Images/weather-app-background.jpg') no-repeat center center/cover;
}

body.dark {
    background: url('../public/Images/weather-night-background.jpg') no-repeat center center/cover;
}

@media(max-width: 500px) {
    body{
        height: 120vh;
    }
}

@media(max-width: 400px) {
    body{
        height: 140vh;
    }
}