.weatherpage-container{
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem 0;
    gap: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.weather-app-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.weather-app-heading> img{
    height: 4rem;
}

.heading{
    color: black;
}

.heading-dark{
    color: white;
}

.toggleBtn, .toggleBtn-dark{
    padding: .3rem;
    border: none;
    border-radius: .2rem;
    font-weight: bold;
}

.toggleBtn:hover, .toggleBtn-dark:hover{
    cursor: pointer;
}

.toggleBtn{
    color: white;
    background-color: black;
}

.toggleBtn-dark{
    color: black;
    background-color: white;
}

.search-weather{
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.search-weather > input {
    width: 15rem;
    height: 2rem;
    border: 1px solid darkslategrey;
    border-radius: .2rem;
    text-indent: 10px;
}

.show-btn, .show-btn-dark{
    padding: 0 1rem;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: .2rem;
    font-weight: bold;
}

.show-btn-dark{
    color: white;
    background-color: yellowgreen;
}

.show-btn{
    color: white;
    background-color: black;
}

.show-btn:hover, .show-btn-dark:hover{
    cursor: pointer;
}

.city-name, .city-name-dark{
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.2rem;
}

.city-name{
    color: red;
}

.city-name-dark{
    color: white;
}

.current-info{
    text-align: center;
    font-weight: 800;
}

.date-time-dark{
    color: white;
}

.current-location-dark{
    color: lightgoldenrodyellow;
}

.weather-information{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2rem;
    margin: 3rem 10rem 0;
    height: 10rem;
    align-items: center;
    border-radius: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: transparent;
}

.city-temperature, .city-temperature-dark, .city-humidity, .city-humidity-dark, .city-feels-like-temp, .city-feels-like-temp-dark, .city-wind-speed, .city-wind-speed-dark{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.city-temperature > h1, .city-humidity > h1, .city-feels-like-temp > h1, .city-wind-speed > h1{
    color: darkslategray;
}

.city-temperature-dark > h1, .city-humidity-dark > h1, .city-feels-like-temp-dark > h1, .city-wind-speed-dark > h1{
    color: white;
}

.city-temperature > h2, .city-humidity > h2, .city-feels-like-temp > h2, .city-wind-speed > h2{
    color: #E72929;
}

.city-temperature-dark > h2, .city-humidity-dark > h2, .city-feels-like-temp-dark > h2, .city-wind-speed-dark > h2{
    color: yellowgreen;
}

.city-weather-forecast, .city-weather-forecast-dark{
    margin: 0 auto;
    font-size: 1.2rem;
}

.city-weather-forecast{
    color: #121481;
}

.city-weather-forecast-dark{
    color: yellowgreen;
}

@media(max-width: 996px) {
    .weatherpage-container{
        gap: 3rem;
    }

    .weather-information{
        flex-flow: column nowrap;
        padding: 2rem;
        margin: 0 2rem;
        height: auto;
        gap: 2rem;
    }
}